<p id="notice"><%= notice %></p>

<h1>Items</h1>

<div class="row">
  <% @items.each do |item| %>
  <div class="col-lg-4 col-md col-sm-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to item_path(item) do %>
          <%= image_tag(item.image_url(:thumbnail), class: "img-responsive") %>
        <% end %>
        <h4> Name: <%= item.name %> </h4>
        <h5> Price: <%=item.price %> </h5>
      </div>
    </div>
  </div>
  <% end %>
</div>


<br>

<!-- <% if can? :manage, @item %> -->
 <%= link_to 'New Item', new_item_path %>
<!-- <% end %> -->
