<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image:</strong>
    <%= image_tag(@item.image_url(:thumbnail), :width => 50, :height => 50) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @item.rating %>
</p>

<!-- We need a buy button -->
<%= simple_form_for(@order) do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <div class="form-actions">
    <%= f.submit "Buy", class: "btn btn-info" %>
  </div>
<% end %>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
